.popover {
    display: none;
    background-color: #FAFAFA;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    list-style-type: none;    
}
.popover ul {
    list-style-type: none;
}
.filters .locations:hover .popover,
.filters .amenities:hover .popover
{
    display: block;
}
